# SPDX-FileCopyrightText: 2023 Anthony Loiseau <anthony.loiseau@allcircuits.com>
#
# SPDX-License-Identifier: LicenseRef-ALLCircuits-ACT-1.1

# See https://git-scm.com/docs/gitmailmap

# Some entries here are wanted to fix wrong things:
# - Manceau / MANCEAU naming
# - brolandeau admin github account

Damien Manceau <damien.manceau@allcircuits.com>
Benoit Rolandeau <benoit.rolandeau@allcircuits.com> <benoit.rolandeau@allcircuits-technologies.com>
Benoit Rolandeau <benoit.rolandeau@allcircuits.com> <admin@example.com>
Raphael Aurejac <raphael.aurejac@allcircuits.com> <raurejac@allcircuits.com>
